@model AnimalAdoptionWebSite.Models.Animal

@{
    ViewData["Title"] = "UpdateAnimal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<h3 style="margin-top:30px;">Güncelleme Ekranı</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ANIMAL_ID" />
            @*<div class="form-group">
                    <label asp-for="KIND_ID" class="control-label"></label>
                    <select asp-for="KIND_ID" class="form-control" asp-items="ViewBag.KIND_ID"></select>
                    <span asp-validation-for="KIND_ID" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GENUS" class="control-label"></label>
                <input asp-for="GENUS" class="form-control" />
                <span asp-validation-for="GENUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AGE" class="control-label"></label>
                <input asp-for="AGE" class="form-control" />
                <span asp-validation-for="AGE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CITY" class="control-label"></label>
                <input asp-for="CITY" class="form-control" />
                <span asp-validation-for="CITY" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="STATUS" /> @Html.DisplayNameFor(model => model.STATUS)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" id="update" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*güncelleme işlemi gerçeleşirse mesaj çıkacak*@
<script>
    $('#update').click(function () {
        alert("Güncelleme işlemi başarıyla tamamlandı.");
    });
</script>

