@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/home_layout.css" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <a asp-controller="Home" asp-action="Index" class="logo">@localizer["Hayvan Sahiplendirme"]</a>
        <div class="header-right">
            <a href="#"><partial name="_Culture" /></a>
            <a asp-controller="Register" asp-action="Index" class="btn btn-outline-info"><i>&nbsp;@localizer["Üye Ol"]</i></a>
            <a asp-controller="Login" asp-action="Index" class="loginAdmin btn btn-info"><i>&nbsp;@localizer["Giriş Yap"]</i></a>
        </div>
    </div>

    <div style="padding-left:20px">
        @RenderBody()
    </div>

</body>
</html>

