@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/home_layout.css" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <a asp-controller="MemberPage" asp-action="Index" class="logo">@localizer["Hayvan Sahiplendirme"]</a>
        <div class="header-right">
            <a href="#"><partial name="_Culture" /></a>
            <a asp-controller="MemberPage" asp-action="Profile"><i class="glyphicon glyphicon-home">&nbsp;@localizer["Profil"]</i></a>
            <a asp-controller="MemberPage" asp-action="Index"><i class="glyphicon glyphicon-home">&nbsp;@localizer["Hayvanlar"]</i></a>
            <a asp-controller="MemberPage" asp-action="ListOfAdoption"><i class="glyphicon glyphicon-home">&nbsp;@localizer["Sahiplenme Geçmişi"]</i></a>
            <a asp-controller="Login" asp-action="Logout" class="btn btn-danger"><i>&nbsp;@localizer["Çıkış"]</i></a>
        </div>
    </div>

    <div style="padding-left:20px">
        @RenderBody()
    </div>

</body>
</html>
