@model AnimalAdoptionWebSite.Models.Kind

@{
    ViewData["Title"] = "AddKind";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<h3 style="margin-top:30px;">Tür Ekleme Sayfası</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddKind">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TYPE_NAME" class="control-label"></label>
                <input asp-for="TYPE_NAME" class="form-control" />
                <span asp-validation-for="TYPE_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="create" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@*ekleme işlemi gerçeleşirse mesaj çıkacak*@
<script>
    $('#create').click(function () {
        alert("Ekleme işlemi başarıyla tamamlandı.");
    });
</script>

